player-connection-mode=Listen
player-connection-guid=4044898740
player-connection-debug=0
player-connection-project-name=Port1
player-connection-ip=192.168.7.132
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ea8c01519a154f69bce247da0fa7141d
